body {
    background-color: rgb(31, 31, 58);
}

.container {
    background-color: white;
    margin: 300px;
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    text-align: center;
}
.first {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}
.one input {
    position: relative;
    bottom: 20px;
    width: 250px;
}
.two input {
    position: relative;
    bottom: 20px;
    width: 250px;
}
.schoolforms {
    margin: 50px;
}
.second {
    display: flex;
    gap: 200px;
}
.three h6 {
    margin-top: -15px;
}
.three input {
    position: relative;
    bottom: 20px;
}
.four {
    display: flex;
    gap: 50px;
}
.five input {
    width: 500px;
    position: relative;
    bottom: 20px;
}
.six input {
    position: relative;
    bottom: 20px;
}
.five {
    margin-top: -20px;
}
.six {
    margin-top: -30px;
}
.dateofmoving {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.seven {
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
}
.eight {
    display: flex;
    gap: 50px;
}
.fourth {
    margin-top: 20px;
}
.nine {
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
}
.tenth input {
    width: 150px;
}
.tenth {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.attending {
    margin-top: -15px;
}
.dbirth input {
    width: 100px;
}
.sfull input{
    width: 125px;
}
.twelve {
    margin-top: 15px;
}
.thirteen {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fourteen {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pol {
    margin-top: -10px;
    padding-bottom: 100px;
}